
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body{
    margin: 0;
    max-width: 100%;
    background-image: url("imagenes/fondo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #eccaa3;
    background-size: cover;
}

}
#contenedor{
    width: 100%;
    font-family: 'Patrick Hand', cursive;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
#main{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    bottom: 10%;
    top: 0%;
}
#left{
    width: 45%;
}
#right{
    width: 55%;
}
#content{
    border: 1px white solid;
    border-radius: 10%;
    background-color: white;
    width: 360px;
    margin: auto;
    position: absolute;
    top: 25%;
    left: 10%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 15px;
    padding-top: 0px;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#header img{
    width: 100%;
}
#logocirculo{
    width: 30%;
}
#logo img{
    width: 100%;
    margin-top: 10%;
}
form{
    width: 90%;
    margin: auto;
    display: block;
    user-select: none;
    
}
#formulario input{
    width: 80%;
    margin-bottom: 0px;
    padding: 8px;
    font-size: 15px;
    border: white 0px solid;
    margin-left: 5px;
    border-radius: 5px;
    font-family: 'Patrick Hand', cursive;
}
#formulario input:hover{
    background-color: rgba(90, 90, 90, 0.11);
}
#email{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 8%;
    
}
#email:after{
    content: "";
    display:block;
    width:100%;
    height:3px;
    margin: auto;
    margin-top: 5px;
    background: rgb(196, 196, 196);
    border-radius: 15%;
}
#password:after{
    content: "";
    display:block;
    width:100%;
    height:3px;
    margin: auto;
    margin-top: 5px;
    background: rgb(196, 196, 196);
    border-radius: 15%;
}
#email img{
    width: 10%;
    height: 15%;
}
#password img{
    width: 10%;
    height: 15%;
    padding-top: 14px;
}
#send input[type="submit"]{
    padding: 10px;
    width: 100%;
    color: white;
    background-color: rgb(226, 109, 0);
    border: 1px solid rgb(226, 109, 0);
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(36, 36, 36, 0.541), 0 1px 3px 0 rgba(46, 46, 46, 0.151);
    cursor: pointer;
    font-family: 'Patrick Hand', cursive;
}
#send input[type="submit"]:hover{
    background-color: rgb(194, 108, 28);
}
#contraseña{
    text-align: center;
    color: rgb(70, 70, 70);
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
}
#contraseña a{
    color: rgb(70, 70, 70);
    text-decoration: none;
    font-size: 20px;
}
#right img{
    width: 80%;
}
#imgaside{

    margin: auto;
    position: absolute;
    top: 45%;
    left: 60%;
    right: 30%;
    
}
#footer{
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 1%;
    right: 1%;
    color: white;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1px;
}
#footer img{
    width: 15px;
}

@media (max-width: 375px){
    #footer{
        position: fixed;
        bottom: 1px;
        top: 93%;
        left: 0px;
        right: 0px;
    }
}
@media (max-width: 375px) and (max-height: 600px){
    #footer{
        position: fixed;
        bottom: 1px;
        top: 93%;
        left: 0px;
        right: 0px;
    }
    #header{
        display: none;
    }
    #content{
        padding-top: 15px;
    }
}
@media (max-width: 1024px){
    #right{
        display: none;
    }
    #left{
        width: 100%;
        margin: auto;
    }
    #content{
        position: absolute;
        top: 25%;
        left: 1%;
        right: 1%;
        margin: auto;
    }
}
