@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body{
    margin: 0;
    max-width: 100%;
    background-color: rgb(32, 32, 32);
}
#contenedor{
    width: 100%;
    font-family: 'Patrick Hand', cursive;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#aside{
    width: 20%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
#headeraside{
    width: 100%;
    height: 180px;
    padding-top: 30px;
    padding-left: 20px;

}
#headeraside img{
    width: 90%;
}
.asidemenus{
    width: 95%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 15px;
}
.asidemenus img{
    width: 25px;
    margin: 6px;
}
.asidemenus a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#menuselect{
    background-color: white;
    
}
#menuselect a{
    color: black;
}
#selecto:before{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    top: 10px;
    bottom: 0px;
    right: 0px;
    left: 96%;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
    margin-bottom: 0px;
    border-radius: 5px;
}
#selecto:after{
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: relative;
    top: -20px;
    bottom: 0px;
    right: 0px;
    left: 96%;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-radius: 5px;
}
#main{
    width: 80%;
    border: solid white 1px;
    border-radius: 30px;
    background-color: white;
    position: fixed;
    top: 5%;
    left: 20%;
    bottom: 5%;
}
#header img{
    width: 30px;
}
.cuadroseleccion img{
    width: 100px;
}
@media (max-width: 1100px){
    #aside{
        width: 30%;
    }
    #main{
        width: 70%;
    }
}