@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body{
    margin: 0;
    max-width: 100%;
    background-color: rgb(32, 32, 32);
}
#contenedor{
    width: 100%;
    font-family: 'Patrick Hand', cursive;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#aside{
    width: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}
#headeraside{
    width: 100%;
    height: 180px;
    padding-top: 30px;
    padding-left: 20px;

}
#headeraside img{
    width: 90%;
}
.asidemenus{
    width: 97%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 15px;
}
.asidemenus img{
    width: 25px;
    margin: 6px;
}
.asidemenus a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#menuselect{
    background-color: rgb(224, 224, 224);
    
}
#menuselect a{
    color: black;        
}

#main{
    width: 84%;
    border: solid rgb(224, 224, 224) 0px;
    border-radius: 30px;
    background-color: rgb(224, 224, 224);
    position: fixed;
    top: 5%;
    left: 15%;
    bottom: 5%;
}
#header img{
    width: 25px;
    margin: 5px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}
#header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 95%;
    padding: 8px;
    border: 0px solid white;
    background-color: white;
    border-radius: 10px;
    margin: 25px;
    margin-left: 28px;
    box-shadow: 0 8px 16px 0 rgba(36, 36, 36, 0.541), 0 1px 3px 0 rgba(46, 46, 46, 0.151);
}
#buscador{
    width: 80%;
    margin-right: 40px;
}
#buscador form input{
    width: 90%;
    font-size: 20px;
    border: white 0px solid;
    margin-left: 3px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    background-color: white;
}
/**
    Contenido ofertas
*/
#contentofertas h1{
    text-align: center;
}
#contentofertas{
    overflow: auto;
    overflow-x: hidden;
    height: 68%;
}

.cuadroseleccion{
    border: rgb(97, 97, 97) 1px solid;
    border-radius: 20px;
    background-color: rgb(97, 97, 97);
    width: 10%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgb(36, 36, 36);
    
}
.cuadroseleccion:hover{
    background-color: black;
}
.cuadroseleccion a:hover{
    color: orangered;
}   
.cuadroseleccion a{
    position: static;
    bottom: 30px;
    left: 2px;
    right: 2px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    position: relative;
    top: 10px;
}
.cuadroseleccion img{
    width: 150px;
    margin: auto;
    position: relative;
    top: 55px;
    left: 1px;
    right: 1px;
    bottom: -20%;
}
#cortoferta img{
    position: relative;
    top: 85px;
    left: 1px;
    right: 1px;
    bottom: -20%;
}
#categoriaofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly   ;
    margin-right: 20px;
}
#productosdeoferta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cuadroselecto{
    border: grey 0px solid;
    border-radius: 25px;
    background-color: white;
    padding: 1%;
    width: 15%;
    margin: 4%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0 8px 16px 0 rgba(36, 36, 36, 0.541), 0 1px 3px 0 rgba(46, 46, 46, 0.151);
    text-align: center;
}   
.cuadroselecto a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.cuadroselecto:hover{
    background-color: rgb(226, 109, 0);
}
.cuadroselecto a:hover{
    color: white;
}
#footerofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
}
.footerofertas{
    width: 50%;
    padding: 20px;
}

#footerleft{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}
#footerright{
    margin-top: 21px;
}
#footerofertas a{
    border: black 0px solid;
    border-radius: 15px;
    background-color: grey;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
#footerofertas a:hover{
    background-color: rgb(46, 46, 46);
}
/**
    Contenido productos
*/
::-webkit-scrollbar {
    width: 8px;

}
::-webkit-scrollbar-thumb {
    background: rgb(107, 107, 107);
    border-radius: 4px;
}  
#contentproductos{
    margin: 5px;
    width: 100%;
    position: absolute;
    top: 15%;
    right: 10px;
    left: 10px;
    bottom: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    overflow-x: hidden;
}
.cajaproducto{
    width: 20%;
    height: 40%;
    margin: 2%;
    overflow: hidden;
    border: 0px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 8px 16px 0 rgba(36, 36, 36, 0.541), 0 1px 3px 0 rgba(46, 46, 46, 0.151);
}
.headercajaproducto{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.headercajaproducto p{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 0px;
    
}
.headercajaproducto img{
    width: 30%;
    align-self: flex-end;
    margin-left:5%;
}
.listaproductos{
    display: flex;
    flex-direction: column;
    height: 50%;
    overflow: auto;
    overflow-x: hidden;
    
}
.producto{
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    
}
.cajadelproducto:after{
    content: "";
    display:block;
    flex-direction: column;
    width:95%;
    height:1px;
    margin: auto;
    margin-top: -1px;
    background: rgb(201, 201, 201);
    border-radius: 15%;
}
.producto p{
    padding-right: 55%;
    margin-bottom: 4px;
    margin-top: 4px;
}
.producto p:hover{
    font-size: 18px;
}
.producto img{
    width: 15px;
    height: 15px;
    padding-top: 5px;
    padding-left: 4px;
    cursor: pointer;
}
.añadirproducto{
    border: 0px solid black;
    border-radius: 20px;
    background-color: rgb(226, 109, 0);
    padding: 5px;
    margin: auto;
    margin-top: 5%;
    width: 75%;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}
.añadirproducto:hover{
    background-color: rgb(255, 150, 51);
}
.añadirproducto a{
    text-decoration: none;
    color: black;
}
#headerextraproducto{
    color: white;
}
#headerextraproducto img{
    width: 20%;
}
#extraproducto{
    background-color: rgb(34, 34, 34);

}
#masproducto{
    width: 40%;
    margin: auto;
}
#masproducto button{
    border: 0px solid white;
    border-radius: 50%;
    background-color: rgb(226, 109, 0);
    color: rgb(34, 34, 34);
    font-size: 100px;
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 20%;
    outline: none;
    cursor: pointer;
}
#masproducto button:hover{
    background-color: rgb(255, 144, 41);
}
/**
    Contenido cuenta
*/
.maincuenta{
    background-image: url("imagenes/fondocuenta.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#contentcuenta{
    width: 35%;
    height: 75%;
    margin: auto;
    position: absolute;
    left: 50px;
    right: 50px;
    top: 15%;
    bottom: 5%;
    border: 0px white solid;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(36, 36, 36, 0.541), 0 1px 3px 0 rgba(46, 46, 46, 0.151);
    padding: 25px;
    overflow: auto;
    overflow-x: hidden;
}
#editarmicuenta img{
    width: 30px;
    height: 30px;
    margin: 10px;
    margin-top: 28px;
    margin-right: 20px;
}

#editarmicuenta{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.opcionescuenta{
    margin-left: 8%;
    margin-top: 3%;
    border-radius: 15%;
}
.opcionescuenta a{
    text-decoration: none;
    color: rgb(56, 56, 56);
    font-size: 23px;
}
.opcionescuenta a:hover{
    color: black;
    font-size: 24px;
}
.opcionescuenta:after{
    content: "";
    display:block;
    width:100%;
    height:1px;
    margin: auto;
    margin-top: 6px;
    margin-left: -7%;
    background: rgb(201, 201, 201);
    border-radius: 15%;
}

#guardardatoscuenta{
    border: rgb(156, 76, 0) solid 0px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    background-color: rgb(226, 109, 0);
    margin-top: 15%;
    padding: 15px;
    text-align: center;
}
#guardardatoscuenta:hover{
    background-color: rgb(255, 142, 37);
}
#guardardatoscuenta a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    text-align: center;

}
/**
    Media queries para dispositivos
*/

@media (min-width:1025px) and (max-width:1572px){
    #aside{
        width: 20%;
    }
    #main{
        width: 80%;
        position: fixed;
        left: 20%;
    }
    #buscador{
        width: 66%;
    }
    .cuadroseleccion{
        padding: 15px;
    }
    .cuadroseleccion a{
        font-size: 20px;
        
    }
    .cuadroseleccion img{
        width: 80px;
        top: 40px;
    }
    #cortoferta img{
        top: 70px;
    }
    .cuadroselecto{
        margin: 2%;
        padding-left: 25px;
        padding-right: 25px;
    }
    .cajaproducto{
        width: 40%;
    }
    .headercajaproducto p{
        font-size: 20px;
    }
    .headercajaproducto img{
        width: 25%;
    }
    .añadirproducto{
        padding: 3px;
    }
    #headerextraproducto img{
        width: 13%;
    }
}
@media (max-width:1090px){
    #aside{
        width: 25%;
    }
    #main{
        width: 75%;
        position: fixed;
        left: 25%;
    }
    #buscador{
        width: 50%;
    }
    #contentofertas h1{
        font-size: 25px;
    }
    .cuadroseleccion{
        width: 7%;
        height: 75px;
        text-align: center;
        padding: 25px;
    }
    .cuadroseleccion img{
        display: none;
    }
    .cuadroseleccion a{
        font-size: 13px;
        padding: 0px;
        width: 6%;
    }
    #categoriaofertas{
        width: 100%;
        margin: auto;
    }
    .cuadroselecto a{
        font-size: 18px;
    }
    #footerright a{
        
        margin: auto;
    }
    .cajaproducto{
        width: 40%;
    }
    .headercajaproducto p{
        font-size: 20px;
    }
    .headercajaproducto img{
        width: 25%;
    }
    .añadirproducto{
        padding: 3px;
    }
    #headerextraproducto img{
        width: 13%;
    }
    #contentcuenta{
        width: 80%;
    }
}
@media (max-width:872px){
    .asidemenus img{
        display: none;
    }
    #contentcuenta{
        width: 80%;
    }
    #header{
        width: 90%;
    }
    .headercajaproducto p{
        font-size: 20px;
    }
    .headercajaproducto img{
        display: none;
    }
    .producto p{
        padding-right: 45%;
    }
    #contentofertas{
        width: 100%;
    }
    #categoriaofertas{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .cuadroseleccion{
        width: 25%;
        margin-top: 10px;
    }
    .cuadroseleccion a{
        font-size: 25px;
    }
    #productosdeoferta{
        height: auto;
        display: flex;
        flex-wrap: wrap
    }
    .cuadroselecto{
        width: 35%;
    }
}
@media (max-width:700px){
    #headeraside{
        display: none;
    }
    #contenedor{
        display: block;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #aside{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
    }
    #main{
        width: 100%;
        position: fixed;
        top: 10%;
        left: 0px;
        right: 0px;
        bottom: 2px;
    }
    #selecto:before{
        display: none;
    }
    #selecto:after{
        display: none;
    }
    #menus{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    .asidemenus{
        width: 100%;
        margin-top: 15px;
    }
    .asidemenus a{
        font-size: 20px;
        text-align: center;
    }
    .asidemenus img{
        display: none;
    }
    #buscador{
        width: 100%;
    }
    #header img{
        display: none;
    }
    .cuadroselecto{
        width: 75%;
        padding: 15px;
    }
}
@media (max-width:517px){
    .asidemenus a{
        font-size: 15px;
    }
    .cuadroseleccion a{
        font-size: 18px;
    }
    .footerofertas{
        padding: 0px;
    }
    #footerofertas a{
        font-size: 12px;
        padding: 5px;
    }
    #footerright{
        display: flex;
        margin-top: 0px;
    }
    #footerright a{
        padding: 5px;
    }
    #header{
        width: 90%;
        margin: auto;
        margin-top: 8px;
        padding: 0px;
    }
    .cajaproducto{
        width: 85%;
        height: 300px;
        box-shadow: 0 1px 2px 0 rgba(36, 36, 36, 0.541), 0 0px 0px 0 rgba(46, 46, 46, 0.151);
    }
    .producto p{
        font-size: 13px;
    }
    #contentcuenta{
        width: 84%;
        position: absolute;
        left: 1px;
        right: 1px;
        bottom: 0px;
    }
    #editarmicuenta h1{
        font-size: 25px;
    }
    #editarmicuenta img{
        width: 25px;
        height: 25px;
    }
    .opcionescuenta{
        margin-left: 0%;

    }
    .opcionescuenta a{
        font-size: 20px;
    }
}