#contenedor{
    margin: auto;
    width: 1000px;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;
}
h1{
    border: 4px solid black;
    border-radius: 15px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
img{
    margin: auto;
    margin-top: 40px;
    width: 1000px;
}
#main{
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 70px;
    line-height: 1.8;
}
#mainblog{
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 70px;
    line-height: 1.8;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#content{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}
#article{
    border: solid black 3px;
    border-radius: 15px;
    margin-right: 50px;
    padding: 12px;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
#aside{
    border: grey;
    background-color: #bfbfbf;
    color: white;
    width: 410px;
    line-height: 1.5;
    padding: 18px;
}
#preview{
    margin-right: 10px;
}
#vermas{
    text-align: center;
    padding: 10px;
    border: 0px grey solid;
    background-color: #bfbfbf;
    align-self : flex-end;
    width: 150px;
}
#vermas a{
    text-decoration: none;
    color: white;
}
#footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 65px;
    text-align: center;
    padding-top: 10px;
}

@media (max-width: 768px){
    h1{
        font-size: 40px;
    }
    #main{
        font-size: 25px;
        padding-right: 25px;
        padding-left: 20px;
        text-align: left;
    }
    #mainblog{
        flex-direction: column;
    }
    #article{
        margin: auto;
        margin-top: 35px;
        margin-right: 10px;
        font-size: 30px;
    }
    #aside{
        width: 700px;
        align-self: center;
        margin: 25px;
        font-size: 30px;
    }
}

@media (max-width: 425px){
    #footer{
        flex-direction: column;
        padding-top: 15px;
    }
    #footer p{
        font-size: 25px;
    }
}